<h1>Frequently Asked Questions</h1>

<div class="row">
  <div class="col-md-8">
    <% @faqs.each do |faq| %>
      <div>
        <%= link_to "Edit", edit_faq_path(faq), class:"btn btn-primary" %>
        <h4><%= faq.question %></h4>
        <h5><%= faq.answer %></h5>
      <div>
    <% end %>
  </div>
</div>

<%= link_to "New", new_faq_path, class:"btn btn-success" %>
