<div class="all-contain">
  <div class="text-contain">
    <h1>Forums</h1>
    <h4>The Forums are under construction! It's going to be HOT!</h4>
  </div>
  <div class="img-contain">
    <%= image_tag "chris_tucker.gif", class:"tucker" %>
  </div>
</div>
