/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.head{
  width: 100%;
  background-color: black;
  color: #f0f0f0;
  border: none;
  img{
    height: 40px;
    float: left;
  }
  i{
    float: left;
    font-size: 25px;
    position: absolute;
    margin: 0 20px;
    padding: 10px 0 5px 0;
  }
  i:hover{
    background-color: #f0f0f0;
    color: black;
  }
  a{
    color: inherit;
  }
  .links {
    border: none;
    li{
      float: right;
    }
    li:hover{
      color: black;
    }
  }
}

.sub-head{
  width: 100%;
  background-color: #686868;
  color: #f0f0f0;
  padding-top: 5px;
  ul{
    text-align: center;
    width: 100%;
    padding: 0;
    display: inline-block;
    li{
      font-size: 14px;
      font-weight: bold;
      margin: 0 2%;
      display: inline;
    }
  }
}

.foot{
  padding: 20px 0;
  color: #f0f0f0;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  /* stuff will go here */
  .bot-elements{
    display: table;
    width: 100%;
    margin-bottom: 70px;
    .bot-sec-1{
      width: 32%;
      display: table-cell;
      h5{
        font-size: 16px;
      }
      ul{
        list-style: none;
        padding: 0;
        li{
          font-size: 14px;
          a{
            color: inherit;
          }
        }
      }
    }
    .bot-sec-2{
      width: 32%;
      display: table-cell;
      h5{
        font-size: 16px;
      }
      ul{
        list-style: none;
        padding: 0;
        li{
          font-size: 14px;
          a{
            color: inherit;
          }
        }
      }
    }
    .bot-sec-3{
      width: 32%;
      display: table-cell;
      h5{
        font-size: 16px;
      }
      ul{
        list-style: none;
        padding: 0;
        li{
          font-size: 14px;

        }
      }
    }
  }
  img{
    height: 50px;
    margin: 0 auto;
    position: absolute;
    right: 50%;
    bottom: 20px;
  }
}
